In [3]:
import pandas as pd
df=pd.read_csv('order_brush_order.csv',encoding='utf-8')

In [4]:
df.head()

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [26]:
df[df['userid']==214226569].groupby(['shopid','userid','event_time']).count()

                                         orderid
shopid    userid    event_time
10287     214226569 2019-12-31 01:13:02        1
                    2019-12-31 01:25:37        1
                    2019-12-31 01:26:46        1
41056024  214226569 2019-12-31 01:13:02        1
                    2019-12-31 01:25:37        1
                    2019-12-31 01:26:46        1
43596797  214226569 2019-12-31 01:13:02        1
                    2019-12-31 01:25:37        1
                    2019-12-31 01:26:46        1
103715156 214226569 2019-12-31 01:13:02        1
                    2019-12-31 01:25:37        1
                    2019-12-31 01:26:46        1

In [15]:
df[df['userid']==214226569].shopid.unique().shape

(4,)

In [14]:
df[df['userid']==214226569].orderid.unique().shape

(12,)

In [24]:
df[df['userid']==58009118].groupby(['shopid','userid']).count()

                    orderid  event_time
shopid    userid
10287     58009118        2           2
33213512  58009118        1           1
132656364 58009118        1           1
134968835 58009118        1           1
147941492 58009118       16          16
213138763 58009118        2           2

In [ ]:
df[]

In [16]:
df[df['userid']==58009118].orderid.unique().shape

(23,)

In [69]:
df_group_userid=df.groupby(['userid']).count()
n=df_group_userid.shape[0]
df_group_sort=df_group_userid.sort_values(by='orderid').reset_index()
n=df_group_sort.shape[0]*0.8
df_group_sort.iloc[84493:]
df_group_large5=df_group_sort[df_group_sort['orderid']>4].userid.tolist()

In [168]:
#取同一天
df['date']=df['event_time'].apply(lambda x:x[8:10]) 
#group by & 取時間最大
df_time_max=df.groupby(['userid','shopid','date']).agg({'event_time':max})  
#group by & 取時間最小
df_time_min=df.groupby(['userid','shopid','date']).agg({'event_time':min})

In [184]:
df_time_max1[df_time_max1['userid']==10180]

    userid     shopid date           event_time
24   10180  147941492   28  2019-12-28 12:45:40
25   10180  147941492   30  2019-12-30 14:58:32

In [171]:
df_time_max1=df_time_max.reset_index()  #移除多層level
df_time_min1=df_time_min.reset_index()

           userid     shopid date           event_time
0           10007  119391047   27  2019-12-27 16:25:08
1           10020   11896733   27  2019-12-27 09:59:48
2           10050   36453588   31  2019-12-31 20:04:23
3           10050   43527981   29  2019-12-29 09:46:28
4           10050   52280537   29  2019-12-29 15:31:17
5           10050   65500189   29  2019-12-29 15:31:18
6           10050   88202387   29  2019-12-29 09:46:28
7           10057   61475131   30  2019-12-30 09:54:51
8           10057   83699001   30  2019-12-30 09:54:51
9           10057  147941492   30  2019-12-30 09:54:51
10          10084   32333759   28  2019-12-28 17:57:27
11          10084   84204959   30  2019-12-30 00:06:39
12          10119   61556313   30  2019-12-30 15:44:27
13          10119   61556313   31  2019-12-31 07:59:17
14          10130   20577717   27  2019-12-27 18:24:48
15          10147  147941492   31  2019-12-31 17:19:33
16          10165    2581950   28  2019-12-28 00:27:06
17          10165   39315928   30  2019-12-30 20:28:29
18          10165   57189823   30  2019-12-30 20:28:29
19          10165   81213884   27  2019-12-27 00:36:33
20          10165   99787848   30  2019-12-30 20:28:29
21          10165  161249399   30  2019-12-30 20:28:29
22          10165  165030850   27  2019-12-27 00:36:33
23          10165  190958609   31  2019-12-31 13:18:41
24          10180  147941492   28  2019-12-28 12:45:40
25          10180  147941492   30  2019-12-30 14:58:32
26          10210   61556313   28  2019-12-28 18:47:05
27          10210   61556313   29  2019-12-29 10:36:36
28          10230   98793115   30  2019-12-30 21:47:43
29          10233  147941492   30  2019-12-30 07:35:31
...           ...        ...  ...                  ...
212180  215517615  209212125   31  2019-12-31 22:59:23
212181  215518005   99608577   31  2019-12-31 23:04:18
212182  215518089   27430506   31  2019-12-31 23:10:17
212183  215518322   66658586   31  2019-12-31 23:07:53
212184  215518511   80742853   31  2019-12-31 23:18:41
212185  215518511  119363140   31  2019-12-31 23:18:41
212186  215519984  156498720   31  2019-12-31 23:26:39
212187  215520413  114919380   31  2019-12-31 23:30:15
212188  215520413  175697852   31  2019-12-31 23:31:15
212189  215520615   80914308   31  2019-12-31 23:30:14
212190  215520876   14925755   31  2019-12-31 23:44:33
212191  215520876   26958215   31  2019-12-31 23:44:33
212192  215520963  108071059   31  2019-12-31 23:26:12
212193  215520963  162226376   31  2019-12-31 23:26:12
212194  215521258   82738335   31  2019-12-31 23:22:15
212195  215521328   11323906   31  2019-12-31 23:37:04
212196  215521384    3959595   31  2019-12-31 23:24:02
212197  215521522  170098008   31  2019-12-31 23:31:12
212198  215522769  150526730   31  2019-12-31 23:49:10
212199  215522796   68848438   31  2019-12-31 23:37:12
212200  215522944   49174497   31  2019-12-31 23:36:13
212201  215523004  156498720   31  2019-12-31 23:36:06
212202  215523699     842957   31  2019-12-31 23:41:31
212203  215524094  213507904   31  2019-12-31 23:47:04
212204  215524270    2153811   31  2019-12-31 23:48:33
212205  215524385  108071059   31  2019-12-31 23:53:11
212206  215524385  162226376   31  2019-12-31 23:49:14
212207  215525117  156498720   31  2019-12-31 23:50:01
212208  215525166   98700393   31  2019-12-31 23:49:33
212209  215526246   31989591   31  2019-12-31 23:58:14

[212210 rows x 4 columns]

In [190]:
import datetime as dt
#合併
df_time_merge=df_time_min.merge(df_time_max1,on=['userid','shopid','date']).rename(columns={'event_time_x':'min_time','event_time_y':'max_time'}) 
#篩選最早和最晚不同時間資料
df_time_merge_diff=df_time_merge[df_time_merge['min_time'] != df_time_merge['max_time']] 

df_gp_date=df.groupby(['userid','shopid','date']).count()
df_group_date_time=df_gp_date.merge(df_time_merge_diff,on=['userid','shopid','date'])

In [199]:
from datetime import datetime
#轉換時間string to datetime
df_group_date_time['min_time']=df_group_date_time['min_time'].apply(lambda x:datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
df_group_date_time['max_time']=df_group_date_time['max_time'].apply(lambda x:datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
#計算時間差距
df_group_date_time['delta_time']=df_group_date_time['max_time']-df_group_date_time['min_time']

TypeError: strptime() argument 1 must be str, not Timestamp

In [215]:
import numpy as np
#取時間差距計算為分鐘
df_group_date_time['delta_time']=(df_group_date_time['max_time']-df_group_date_time['min_time'])/np.timedelta64(1, 'm')
#計算每次交易平均過多少分鐘
df_group_date_time['average_time']=df_group_date_time['delta_time']/df_group_date_time['orderid']
#取useid在同shopid 交易次數>2
df_group_date_time_sup=df_group_date_time[df_group_date_time['orderid']>2]
#交易間隔時間中位數為6.6，取交易間隔時間過短6分鐘以下
df_group_date_time_sup=df_group_date_time_sup[df_group_date_time_sup['average_time']<6]
df_group_date_time_sup.head()

,userid,shopid,date,orderid,event_time,min_time,max_time,delta_time,average_time
11,22184,147941492,28,4,4,2019-12-28 13:09:46,2019-12-28 13:12:19,2.550000,0.637500
12,22184,147941492,31,3,3,2019-12-31 01:19:46,2019-12-31 01:21:36,1.833333,0.611111
18,29503,65453156,29,3,3,2019-12-29 12:35:54,2019-12-29 12:45:51,9.950000,3.316667
20,32594,14184981,30,3,3,2019-12-30 21:29:00,2019-12-30 21:39:12,10.200000,3.400000
42,77819,10402,28,3,3,2019-12-28 14:24:33,2019-12-28 14:30:26,5.883333,1.961111

In [217]:
df_group_date_time_sup
# df_final=df_final.reset_index()
final_time_data={}
for i in range(df_group_date_time_sup.shape[0]):
    if df_group_date_time_sup.iloc[i,1] not in final_time_data:
        userid=df_group_date_time_sup.iloc[i,0]
        final_time_data[df_group_date_time_sup.iloc[i,1]]=[userid]
    else:
        final_time_data[df_group_date_time_sup.iloc[i,1]].append(userid)
for i in final_time_data:
    final_time_data[i]=list(set(final_time_data[i]))
final_time_data
upload_time={}
for i in final_time_data:
    li=[]
    for x in final_time_data[i]:
        li.append(str(x))
    upload_time[i]='&'.join(li)
upload_time

{147941492: '101296643&125177353&12869645&2824209&96046105&37915675&198662175&133607969&189834273&152710183&160736815&73207860&210920501&102125116&203554877&1974334&21402690&170673735&35639374&2137694&172591713&204919399&67554410&188187242&96470129&15861876&9393781&116055684&214992524&120099470&58467478&78903959&62080153&84811421&136680607&129799840&179997347&157936293&22184&105731761&162389170&92521144&36097212&141499072&154495684&207435467&78685901&77374158&870607&205729485&799445&30244568&71351517&42816223&18885346&69563623&95058664&11053808&192785138&86802680&8405753&214623481&89312509&13135622&135952&177472272&65814291&188942105&142710562&112649507&174783274&144612139&178640685&50198835&52867898&7300419&4624716&107641182&199703906&212325226&166712192&74027394&197470611&156774808&213919641&191211430&5307816&46361526&108402614&26570682&29857724&89014205&60941758&183745983&98709440&117199298&80690628&2766278&3295689&213714377&75558350&181942741&41332694&24491487&198097381&15053804&131375087&10221040&202607600&18081783&77819&114498557',
 65453156: '29503',
 14184981: '32594',
 10402: '77819',
 24013303: '135952',
 599533: '264511',
 8566282: '556867',
 141025402: '613919',
 42472: '740844',
 6765647: '740844',
 189544563: '799445',
 116348362: '870607',
 54257623: '105731761&1974334',
 169916944: '2137694',
 100446829: '2434757',
 61359433: '2766278',
 19052728: '2824209',
 89126206: '3295689',
 17678304: '4163235',
 192919438: '4624716',
 51487211: '5307816',
 91123657: '7300419',
 182630780: '8330029',
 10199219: '8405753',
 91639906: '9393781',
 8715449: '9753706',
 107153763: '9753706',
 49674796: '9837180',
 104955370: '10051694',
 68986766: '10209247',
 32504026: '10221040',
 71168001: '11053808',
 173454640: '12597591',
 123401085: '12869645',
 8996761: '162389170&215301243&13135622',
 2831130: '15053804',
 91799978: '15697974',
 94154189: '15826134',
 29238238: '15861876',
 119595148: '17722130',
 61556313: '172591713&67554410&207435467&120099470&214094512&192785138&46361526&18081783&141006168&96046105&107641182',
 130100254: '18688337',
 163014475: '18885346',
 119690532: '21402690',
 84301799: '24491487',
 83440756: '26570682',
 51134277: '29857724',
 73690472: '30244568',
 188323737: '31215088',
 108170744: '31233680',
 141828266: '31713663',
 130168935: '31892574',
 188546697: '31916119',
 143281052: '98709440&189834273&65814291&108402614&33390271',
 28164269: '33794624',
 60587222: '33794624',
 201185983: '34132265',
 107189025: '157936293&35639374',
 152234237: '36097212',
 117079735: '37915675',
 93295101: '39834931',
 135644492: '40929352',
 111696422: '41332694',
 171496968: '42792937&160736815',
 39938958: '162389170&42816223',
 118139770: '46361526',
 169902791: '50198835',
 210197928: '52867898',
 138810304: '58467478',
 102111330: '59440029',
 134968430: '59725263',
 55942169: '60941758',
 58543771: '61893096',
 137762841: '62080153',
 84866704: '65814291',
 143613660: '67554410',
 157939195: '69563623',
 178273138: '71152760',
 36453588: '180862522&71351517',
 425364: '72914921',
 139975294: '73207860',
 161160594: '74027394',
 731606: '75558350',
 80890996: '77374158',
 81190174: '77374158',
 2856708: '78451300&123158564',
 121727827: '78685901',
 78837196: '78903959',
 3701311: '80690628',
 9466594: '84811421',
 140626153: '86570212',
 130118966: '86802680',
 27121667: '88991923&183745983',
 18190345: '89014205',
 201428849: '89254393',
 96555082: '89312509',
 36641013: '92223139',
 119362482: '92275977',
 201503467: '92521144',
 165500538: '93783570',
 16391635: '93880473',
 10206302: '95058664',
 173186657: '96046105',
 78509316: '96470129',
 177817260: '98709440',
 126639670: '101296643',
 181009364: '101832161',
 16680589: '102125116',
 96757713: '105731761',
 29979455: '107641182',
 150526730: '108214177',
 99067259: '108402614',
 54615708: '133607969&111115654&148215831',
 153335627: '111390406',
 63888299: '112649507',
 28091290: '114498557',
 17011899: '115994773',
 45084184: '116055684',
 114919380: '117199298',
 83366265: '118860287',
 86285837: '119785264',
 157830762: '120099470',
 1175477: '122277324',
 66337054: '122507717',
 80049863: '123158564',
 96558159: '124597967',
 98481320: '124597967',
 157607264: '125177353',
 181050132: '126543234',
 25924280: '128431789',
 14598427: '128702876',
 13026492: '128838735',
 156248768: '129084826',
 198172755: '129799840',
 51960315: '131375087',
 176338861: '132397558',
 173508019: '132704747',
 110871170: '133542654',
 91487219: '133607969',
 156883302: '187697407&136087303',
 11809607: '136680607',
 9372692: '139795934',
 769445: '141006168',
 130665582: '141499072',
 98793086: '142710562',
 132964122: '142710562',
 86368642: '144612139',
 9374147: '148176353',
 11474437: '148215831',
 11849988: '148215831',
 105084800: '148215831',
 168388504: '148215831',
 132583615: '152710183',
 17219984: '154495684',
 155143347: '156202149',
 11896733: '156614746',
 34923033: '156774808',
 64909117: '157936293',
 156498720: '160736815',
 162282525: '162389170',
 76668593: '166712192',
 151556698: '169671453',
 153444897: '169948888',
 42818: '170385453',
 20522747: '170673735',
 50713918: '172106152',
 64369518: '172591713',
 186369695: '174783274',
 75326165: '177472272',
 136564914: '190449497&178491887',
 87063118: '178640685',
 110891405: '178640685',
 133255677: '178640685',
 130098983: '179997347',
 161196859: '180862522',
 1532569: '181408876',
 605561: '181682008',
 83234229: '181942741',
 192785588: '183745983',
 85648725: '186634585',
 175531295: '187697407',
 104245736: '188187242',
 823357: '188942105',
 148917764: '189631941',
 95139064: '189834273',
 203070501: '189834273',
 76934: '190449497',
 191449441: '191211430',
 27987240: '192785138',
 99836251: '197470611',
 9153340: '197569856',
 79069823: '197569856',
 10287: '214094512&198097381',
 204225676: '198662175',
 99833363: '199696834',
 110868046: '199703906',
 14646941: '200925208',
 115506347: '200925208',
 143899665: '202574985',
 157633413: '202607600',
 162043213: '203554877',
 156995951: '204919399',
 16001939: '205729485',
 47415942: '207435467',
 9676950: '210920501',
 4149345: '212325226',
 104590579: '213714377',
 120358496: '213714377',
 52377417: '213919641',
 16732896: '214094512',
 87657406: '214094512',
 131670390: '214094512',
 41056024: '214226569',
 43596797: '214226569',
 103715156: '214226569',
 109628767: '214345977',
 92566917: '214398364',
 105064701: '214431654',
 43412276: '214432120',
 29583: '214495220',
 3124091: '214568881',
 201557550: '214605778',
 58853808: '214623481',
 91638688: '214680031',
 122459518: '214747060',
 40262957: '214804722',
 191285578: '214925963',
 195531: '214992524',
 152911522: '215169091',
 96757644: '215243653',
 173318671: '215301243',
 13735592: '215424202',
 112547365: '215433596'}

In [219]:
for i in  final_data:
    if i in final_time_data:
        final_time_data[i]=list(set(final_time_data[i]+final_time_data[i]))
final_time_data

{147941492: [101296643,
  125177353,
  12869645,
  2824209,
  96046105,
  37915675,
  198662175,
  133607969,
  189834273,
  152710183,
  160736815,
  73207860,
  210920501,
  102125116,
  203554877,
  1974334,
  21402690,
  170673735,
  35639374,
  2137694,
  172591713,
  204919399,
  67554410,
  188187242,
  96470129,
  15861876,
  9393781,
  116055684,
  214992524,
  120099470,
  58467478,
  78903959,
  62080153,
  84811421,
  136680607,
  129799840,
  179997347,
  157936293,
  22184,
  105731761,
  162389170,
  92521144,
  36097212,
  141499072,
  154495684,
  207435467,
  78685901,
  77374158,
  870607,
  205729485,
  799445,
  30244568,
  71351517,
  42816223,
  18885346,
  69563623,
  95058664,
  11053808,
  192785138,
  86802680,
  214623481,
  8405753,
  89312509,
  13135622,
  135952,
  177472272,
  65814291,
  188942105,
  142710562,
  112649507,
  174783274,
  144612139,
  178640685,
  50198835,
  52867898,
  7300419,
  4624716,
  107641182,
  199703906,
  212325226,
  166712192,
  74027394,
  197470611,
  156774808,
  213919641,
  191211430,
  5307816,
  46361526,
  108402614,
  26570682,
  29857724,
  89014205,
  60941758,
  183745983,
  98709440,
  117199298,
  80690628,
  2766278,
  3295689,
  213714377,
  75558350,
  181942741,
  41332694,
  24491487,
  198097381,
  15053804,
  131375087,
  10221040,
  202607600,
  18081783,
  77819,
  114498557],
 65453156: [29503],
 14184981: [32594],
 10402: [77819],
 24013303: [135952],
 599533: [264511],
 8566282: [556867],
 141025402: [613919],
 42472: [740844],
 6765647: [740844],
 189544563: [799445],
 116348362: [870607],
 54257623: [105731761, 1974334],
 169916944: [2137694],
 100446829: [2434757],
 61359433: [2766278],
 19052728: [2824209],
 89126206: [3295689],
 17678304: [4163235],
 192919438: [4624716],
 51487211: [5307816],
 91123657: [7300419],
 182630780: [8330029],
 10199219: [8405753],
 91639906: [9393781],
 8715449: [9753706],
 107153763: [9753706],
 49674796: [9837180],
 104955370: [10051694],
 68986766: [10209247],
 32504026: [10221040],
 71168001: [11053808],
 173454640: [12597591],
 123401085: [12869645],
 8996761: [162389170, 215301243, 13135622],
 2831130: [15053804],
 91799978: [15697974],
 94154189: [15826134],
 29238238: [15861876],
 119595148: [17722130],
 61556313: [172591713,
  67554410,
  207435467,
  120099470,
  214094512,
  192785138,
  46361526,
  18081783,
  141006168,
  96046105,
  107641182],
 130100254: [18688337],
 163014475: [18885346],
 119690532: [21402690],
 84301799: [24491487],
 83440756: [26570682],
 51134277: [29857724],
 73690472: [30244568],
 188323737: [31215088],
 108170744: [31233680],
 141828266: [31713663],
 130168935: [31892574],
 188546697: [31916119],
 143281052: [98709440, 189834273, 65814291, 108402614, 33390271],
 28164269: [33794624],
 60587222: [33794624],
 201185983: [34132265],
 107189025: [157936293, 35639374],
 152234237: [36097212],
 117079735: [37915675],
 93295101: [39834931],
 135644492: [40929352],
 111696422: [41332694],
 171496968: [42792937, 160736815],
 39938958: [162389170, 42816223],
 118139770: [46361526],
 169902791: [50198835],
 210197928: [52867898],
 138810304: [58467478],
 102111330: [59440029],
 134968430: [59725263],
 55942169: [60941758],
 58543771: [61893096],
 137762841: [62080153],
 84866704: [65814291],
 143613660: [67554410],
 157939195: [69563623],
 178273138: [71152760],
 36453588: [180862522, 71351517],
 425364: [72914921],
 139975294: [73207860],
 161160594: [74027394],
 731606: [75558350],
 80890996: [77374158],
 81190174: [77374158],
 2856708: [78451300, 123158564],
 121727827: [78685901],
 78837196: [78903959],
 3701311: [80690628],
 9466594: [84811421],
 140626153: [86570212],
 130118966: [86802680],
 27121667: [88991923, 183745983],
 18190345: [89014205],
 201428849: [89254393],
 96555082: [89312509],
 36641013: [92223139],
 119362482: [92275977],
 201503467: [92521144],
 165500538: [93783570],
 16391635: [93880473],
 10206302: [95058664],
 173186657: [96046105],
 78509316: [96470129],
 177817260: [98709440],
 126639670: [101296643],
 181009364: [101832161],
 16680589: [102125116],
 96757713: [105731761],
 29979455: [107641182],
 150526730: [108214177],
 99067259: [108402614],
 54615708: [133607969, 111115654, 148215831],
 153335627: [111390406],
 63888299: [112649507],
 28091290: [114498557],
 17011899: [115994773],
 45084184: [116055684],
 114919380: [117199298],
 83366265: [118860287],
 86285837: [119785264],
 157830762: [120099470],
 1175477: [122277324],
 66337054: [122507717],
 80049863: [123158564],
 96558159: [124597967],
 98481320: [124597967],
 157607264: [125177353],
 181050132: [126543234],
 25924280: [128431789],
 14598427: [128702876],
 13026492: [128838735],
 156248768: [129084826],
 198172755: [129799840],
 51960315: [131375087],
 176338861: [132397558],
 173508019: [132704747],
 110871170: [133542654],
 91487219: [133607969],
 156883302: [136087303, 187697407],
 11809607: [136680607],
 9372692: [139795934],
 769445: [141006168],
 130665582: [141499072],
 98793086: [142710562],
 132964122: [142710562],
 86368642: [144612139],
 9374147: [148176353],
 11474437: [148215831],
 11849988: [148215831],
 105084800: [148215831],
 168388504: [148215831],
 132583615: [152710183],
 17219984: [154495684],
 155143347: [156202149],
 11896733: [156614746],
 34923033: [156774808],
 64909117: [157936293],
 156498720: [160736815],
 162282525: [162389170],
 76668593: [166712192],
 151556698: [169671453],
 153444897: [169948888],
 42818: [170385453],
 20522747: [170673735],
 50713918: [172106152],
 64369518: [172591713],
 186369695: [174783274],
 75326165: [177472272],
 136564914: [190449497, 178491887],
 87063118: [178640685],
 110891405: [178640685],
 133255677: [178640685],
 130098983: [179997347],
 161196859: [180862522],
 1532569: [181408876],
 605561: [181682008],
 83234229: [181942741],
 192785588: [183745983],
 85648725: [186634585],
 175531295: [187697407],
 104245736: [188187242],
 823357: [188942105],
 148917764: [189631941],
 95139064: [189834273],
 203070501: [189834273],
 76934: [190449497],
 191449441: [191211430],
 27987240: [192785138],
 99836251: [197470611],
 9153340: [197569856],
 79069823: [197569856],
 10287: [214094512, 198097381],
 204225676: [198662175],
 99833363: [199696834],
 110868046: [199703906],
 14646941: [200925208],
 115506347: [200925208],
 143899665: [202574985],
 157633413: [202607600],
 162043213: [203554877],
 156995951: [204919399],
 16001939: [205729485],
 47415942: [207435467],
 9676950: [210920501],
 4149345: [212325226],
 104590579: [213714377],
 120358496: [213714377],
 52377417: [213919641],
 16732896: [214094512],
 87657406: [214094512],
 131670390: [214094512],
 41056024: [214226569],
 43596797: [214226569],
 103715156: [214226569],
 109628767: [214345977],
 92566917: [214398364],
 105064701: [214431654],
 43412276: [214432120],
 29583: [214495220],
 3124091: [214568881],
 201557550: [214605778],
 58853808: [214623481],
 91638688: [214680031],
 122459518: [214747060],
 40262957: [214804722],
 191285578: [214925963],
 195531: [214992524],
 152911522: [215169091],
 96757644: [215243653],
 173318671: [215301243],
 13735592: [215424202],
 112547365: [215433596]}

In [220]:
upload_final={}
for i in final_time_data:
    li=[]
    for x in final_time_data[i]:
        li.append(str(x))
    upload_final[i]='&'.join(li)
upload_final

{147941492: '101296643&125177353&12869645&2824209&96046105&37915675&198662175&133607969&189834273&152710183&160736815&73207860&210920501&102125116&203554877&1974334&21402690&170673735&35639374&2137694&172591713&204919399&67554410&188187242&96470129&15861876&9393781&116055684&214992524&120099470&58467478&78903959&62080153&84811421&136680607&129799840&179997347&157936293&22184&105731761&162389170&92521144&36097212&141499072&154495684&207435467&78685901&77374158&870607&205729485&799445&30244568&71351517&42816223&18885346&69563623&95058664&11053808&192785138&86802680&214623481&8405753&89312509&13135622&135952&177472272&65814291&188942105&142710562&112649507&174783274&144612139&178640685&50198835&52867898&7300419&4624716&107641182&199703906&212325226&166712192&74027394&197470611&156774808&213919641&191211430&5307816&46361526&108402614&26570682&29857724&89014205&60941758&183745983&98709440&117199298&80690628&2766278&3295689&213714377&75558350&181942741&41332694&24491487&198097381&15053804&131375087&10221040&202607600&18081783&77819&114498557',
 65453156: '29503',
 14184981: '32594',
 10402: '77819',
 24013303: '135952',
 599533: '264511',
 8566282: '556867',
 141025402: '613919',
 42472: '740844',
 6765647: '740844',
 189544563: '799445',
 116348362: '870607',
 54257623: '105731761&1974334',
 169916944: '2137694',
 100446829: '2434757',
 61359433: '2766278',
 19052728: '2824209',
 89126206: '3295689',
 17678304: '4163235',
 192919438: '4624716',
 51487211: '5307816',
 91123657: '7300419',
 182630780: '8330029',
 10199219: '8405753',
 91639906: '9393781',
 8715449: '9753706',
 107153763: '9753706',
 49674796: '9837180',
 104955370: '10051694',
 68986766: '10209247',
 32504026: '10221040',
 71168001: '11053808',
 173454640: '12597591',
 123401085: '12869645',
 8996761: '162389170&215301243&13135622',
 2831130: '15053804',
 91799978: '15697974',
 94154189: '15826134',
 29238238: '15861876',
 119595148: '17722130',
 61556313: '172591713&67554410&207435467&120099470&214094512&192785138&46361526&18081783&141006168&96046105&107641182',
 130100254: '18688337',
 163014475: '18885346',
 119690532: '21402690',
 84301799: '24491487',
 83440756: '26570682',
 51134277: '29857724',
 73690472: '30244568',
 188323737: '31215088',
 108170744: '31233680',
 141828266: '31713663',
 130168935: '31892574',
 188546697: '31916119',
 143281052: '98709440&189834273&65814291&108402614&33390271',
 28164269: '33794624',
 60587222: '33794624',
 201185983: '34132265',
 107189025: '157936293&35639374',
 152234237: '36097212',
 117079735: '37915675',
 93295101: '39834931',
 135644492: '40929352',
 111696422: '41332694',
 171496968: '42792937&160736815',
 39938958: '162389170&42816223',
 118139770: '46361526',
 169902791: '50198835',
 210197928: '52867898',
 138810304: '58467478',
 102111330: '59440029',
 134968430: '59725263',
 55942169: '60941758',
 58543771: '61893096',
 137762841: '62080153',
 84866704: '65814291',
 143613660: '67554410',
 157939195: '69563623',
 178273138: '71152760',
 36453588: '180862522&71351517',
 425364: '72914921',
 139975294: '73207860',
 161160594: '74027394',
 731606: '75558350',
 80890996: '77374158',
 81190174: '77374158',
 2856708: '78451300&123158564',
 121727827: '78685901',
 78837196: '78903959',
 3701311: '80690628',
 9466594: '84811421',
 140626153: '86570212',
 130118966: '86802680',
 27121667: '88991923&183745983',
 18190345: '89014205',
 201428849: '89254393',
 96555082: '89312509',
 36641013: '92223139',
 119362482: '92275977',
 201503467: '92521144',
 165500538: '93783570',
 16391635: '93880473',
 10206302: '95058664',
 173186657: '96046105',
 78509316: '96470129',
 177817260: '98709440',
 126639670: '101296643',
 181009364: '101832161',
 16680589: '102125116',
 96757713: '105731761',
 29979455: '107641182',
 150526730: '108214177',
 99067259: '108402614',
 54615708: '133607969&111115654&148215831',
 153335627: '111390406',
 63888299: '112649507',
 28091290: '114498557',
 17011899: '115994773',
 45084184: '116055684',
 114919380: '117199298',
 83366265: '118860287',
 86285837: '119785264',
 157830762: '120099470',
 1175477: '122277324',
 66337054: '122507717',
 80049863: '123158564',
 96558159: '124597967',
 98481320: '124597967',
 157607264: '125177353',
 181050132: '126543234',
 25924280: '128431789',
 14598427: '128702876',
 13026492: '128838735',
 156248768: '129084826',
 198172755: '129799840',
 51960315: '131375087',
 176338861: '132397558',
 173508019: '132704747',
 110871170: '133542654',
 91487219: '133607969',
 156883302: '136087303&187697407',
 11809607: '136680607',
 9372692: '139795934',
 769445: '141006168',
 130665582: '141499072',
 98793086: '142710562',
 132964122: '142710562',
 86368642: '144612139',
 9374147: '148176353',
 11474437: '148215831',
 11849988: '148215831',
 105084800: '148215831',
 168388504: '148215831',
 132583615: '152710183',
 17219984: '154495684',
 155143347: '156202149',
 11896733: '156614746',
 34923033: '156774808',
 64909117: '157936293',
 156498720: '160736815',
 162282525: '162389170',
 76668593: '166712192',
 151556698: '169671453',
 153444897: '169948888',
 42818: '170385453',
 20522747: '170673735',
 50713918: '172106152',
 64369518: '172591713',
 186369695: '174783274',
 75326165: '177472272',
 136564914: '190449497&178491887',
 87063118: '178640685',
 110891405: '178640685',
 133255677: '178640685',
 130098983: '179997347',
 161196859: '180862522',
 1532569: '181408876',
 605561: '181682008',
 83234229: '181942741',
 192785588: '183745983',
 85648725: '186634585',
 175531295: '187697407',
 104245736: '188187242',
 823357: '188942105',
 148917764: '189631941',
 95139064: '189834273',
 203070501: '189834273',
 76934: '190449497',
 191449441: '191211430',
 27987240: '192785138',
 99836251: '197470611',
 9153340: '197569856',
 79069823: '197569856',
 10287: '214094512&198097381',
 204225676: '198662175',
 99833363: '199696834',
 110868046: '199703906',
 14646941: '200925208',
 115506347: '200925208',
 143899665: '202574985',
 157633413: '202607600',
 162043213: '203554877',
 156995951: '204919399',
 16001939: '205729485',
 47415942: '207435467',
 9676950: '210920501',
 4149345: '212325226',
 104590579: '213714377',
 120358496: '213714377',
 52377417: '213919641',
 16732896: '214094512',
 87657406: '214094512',
 131670390: '214094512',
 41056024: '214226569',
 43596797: '214226569',
 103715156: '214226569',
 109628767: '214345977',
 92566917: '214398364',
 105064701: '214431654',
 43412276: '214432120',
 29583: '214495220',
 3124091: '214568881',
 201557550: '214605778',
 58853808: '214623481',
 91638688: '214680031',
 122459518: '214747060',
 40262957: '214804722',
 191285578: '214925963',
 195531: '214992524',
 152911522: '215169091',
 96757644: '215243653',
 173318671: '215301243',
 13735592: '215424202',
 112547365: '215433596'}

In [225]:
final_df=pd.DataFrame(upload_final.items()).rename(columns={0:'shopid',1:'userid'})
shopid_list=df.shopid.unique().tolist()
sep_list=final_df.shopid.tolist()

for i in shopid_list:
    if i not in sep_list:
        tmpdf=pd.DataFrame({i:0}.items()).rename(columns={0:'shopid',1:'userid'})
        final_df=final_df.append(tmpdf)
final_df.to_csv('final2.csv',index=False)

In [226]:
final_df

       shopid                                             userid
0   147941492  101296643&125177353&12869645&2824209&96046105&...
1    65453156                                              29503
2    14184981                                              32594
3       10402                                              77819
4    24013303                                             135952
5      599533                                             264511
6     8566282                                             556867
7   141025402                                             613919
8       42472                                             740844
9     6765647                                             740844
10  189544563                                             799445
11  116348362                                             870607
12   54257623                                  105731761&1974334
13  169916944                                            2137694
14  100446829                                            2434757
15   61359433                                            2766278
16   19052728                                            2824209
17   89126206                                            3295689
18   17678304                                            4163235
19  192919438                                            4624716
20   51487211                                            5307816
21   91123657                                            7300419
22  182630780                                            8330029
23   10199219                                            8405753
24   91639906                                            9393781
25    8715449                                            9753706
26  107153763                                            9753706
27   49674796                                            9837180
28  104955370                                           10051694
29   68986766                                           10209247
..        ...                                                ...
0   201517779                                                  0
0   191401581                                                  0
0   163218938                                                  0
0   162307335                                                  0
0    21508218                                                  0
0   173184505                                                  0
0   137401186                                                  0
0    34760488                                                  0
0    31435706                                                  0
0    53749242                                                  0
0     1702198                                                  0
0    74263634                                                  0
0   186664920                                                  0
0   162269169                                                  0
0   201180046                                                  0
0   156895254                                                  0
0   156180781                                                  0
0   147441016                                                  0
0   195793892                                                  0
0   160363863                                                  0
0   186985242                                                  0
0   110671146                                                  0
0   189442502                                                  0
0   196668026                                                  0
0   191594303                                                  0
0   163337224                                                  0
0      772599                                                  0
0    50236030                                                  0
0   203587596                                                  0
0   147118226                                                  0

[18770 rows x 2 columns]

In [169]:
df_time_min

                                   event_time
userid    shopid    date
10007     119391047 27    2019-12-27 16:25:08
10020     11896733  27    2019-12-27 09:59:48
10050     36453588  31    2019-12-31 20:04:23
          43527981  29    2019-12-29 09:46:28
          52280537  29    2019-12-29 15:31:17
          65500189  29    2019-12-29 15:31:18
          88202387  29    2019-12-29 09:46:28
10057     61475131  30    2019-12-30 09:54:51
          83699001  30    2019-12-30 09:54:51
          147941492 30    2019-12-30 09:54:51
10084     32333759  28    2019-12-28 17:57:27
          84204959  30    2019-12-30 00:06:39
10119     61556313  30    2019-12-30 10:19:47
                    31    2019-12-31 07:59:17
10130     20577717  27    2019-12-27 18:24:48
10147     147941492 31    2019-12-31 17:19:33
10165     2581950   28    2019-12-28 00:27:06
          39315928  30    2019-12-30 20:28:29
          57189823  30    2019-12-30 20:28:29
          81213884  27    2019-12-27 00:36:33
          99787848  30    2019-12-30 20:28:29
          161249399 30    2019-12-30 20:28:29
          165030850 27    2019-12-27 00:36:33
          190958609 31    2019-12-31 13:18:41
10180     147941492 28    2019-12-28 12:45:40
                    30    2019-12-30 14:58:32
10210     61556313  28    2019-12-28 18:47:05
                    29    2019-12-29 10:36:36
10230     98793115  30    2019-12-30 21:47:43
10233     147941492 30    2019-12-30 07:35:31
...                                       ...
215517615 209212125 31    2019-12-31 22:59:23
215518005 99608577  31    2019-12-31 23:04:18
215518089 27430506  31    2019-12-31 23:10:17
215518322 66658586  31    2019-12-31 23:07:53
215518511 80742853  31    2019-12-31 23:18:41
          119363140 31    2019-12-31 23:18:41
215519984 156498720 31    2019-12-31 23:26:39
215520413 114919380 31    2019-12-31 23:30:15
          175697852 31    2019-12-31 23:30:15
215520615 80914308  31    2019-12-31 23:25:53
215520876 14925755  31    2019-12-31 23:44:33
          26958215  31    2019-12-31 23:44:33
215520963 108071059 31    2019-12-31 23:26:12
          162226376 31    2019-12-31 23:26:12
215521258 82738335  31    2019-12-31 23:22:15
215521328 11323906  31    2019-12-31 23:37:04
215521384 3959595   31    2019-12-31 23:24:02
215521522 170098008 31    2019-12-31 23:31:12
215522769 150526730 31    2019-12-31 23:49:10
215522796 68848438  31    2019-12-31 23:37:12
215522944 49174497  31    2019-12-31 23:36:13
215523004 156498720 31    2019-12-31 23:36:06
215523699 842957    31    2019-12-31 23:41:31
215524094 213507904 31    2019-12-31 23:47:04
215524270 2153811   31    2019-12-31 23:48:33
215524385 108071059 31    2019-12-31 23:53:11
          162226376 31    2019-12-31 23:49:14
215525117 156498720 31    2019-12-31 23:50:01
215525166 98700393  31    2019-12-31 23:49:33
215526246 31989591  31    2019-12-31 23:58:14

[212210 rows x 1 columns]

In [ ]:
df.groupby(['userid','shopid',])

In [104]:
df_large=df[df['userid'].isin(df_group_large5)]
df_large_group=df_large.groupby(['userid','shopid']).count().reset_index()
df_large_group_min=df_large_group.groupby('userid').agg({'orderid':min})
df_large_group_max=df_large_group.groupby('userid').agg({'orderid':max})
df_merge=df_large_group_min.merge(df_large_group_max,on='userid')
df_merge['max_min_mean']=(df_merge['orderid_x']+df_merge['orderid_y'])/2
df_new_num=df_large_group.merge(df_merge,on='userid')
df_filter=df_new_num[df_new_num['orderid']>df_new_num['max_min_mean']]
df_final=df_filter[df_filter['orderid']>5]

In [110]:
df_final

,level_0,index,userid,shopid,orderid,event_time,date,orderid_x,orderid_y,max_min_mean
0,0,1276,508484,64909117,6,6,6,1,6,3.5
1,1,1740,757001,147941492,6,6,6,1,6,3.5
2,2,3307,2194780,147941492,7,7,7,1,7,4.0
3,3,3932,2812894,147941492,6,6,6,1,6,3.5
4,4,4044,2938138,147941492,7,7,7,1,7,4.0
5,5,4084,2973390,54615708,9,9,9,1,9,5.0
6,6,4625,3667047,147941492,10,10,10,1,10,5.5
7,7,6117,6048308,169916944,6,6,6,1,6,3.5
8,8,6267,6233530,147941492,6,6,6,1,6,3.5
9,9,6415,6419304,147941492,7,7,7,2,7,4.5
10,10,6969,7616036,147941492,18,18,18,1,18,9.5
11,11,7017,7673928,147941492,7,7,7,1,7,4.0
12,12,7389,8373512,61556313,6,6,6,1,6,3.5
13,13,8134,9837180,49674796,7,7,7,1,7,4.0
14,14,8187,9958098,29975426,11,11,11,1,11,6.0
15,15,8392,10646522,147941492,6,6,6,1,6,3.5
16,16,8837,12033405,147941492,6,6,6,1,6,3.5
17,17,9009,12282429,147941492,7,7,7,1,7,4.0
18,18,10514,15495067,171496968,6,6,6,1,6,3.5
19,19,11128,16684283,61556313,6,6,6,1,6,3.5
20,20,11287,16950820,147941492,6,6,6,1,6,3.5
21,21,12746,21055967,147941492,7,7,7,1,7,4.0
22,22,12905,21676160,147941492,13,13,13,1,13,7.0
23,23,12952,21959234,147941492,6,6,6,1,6,3.5
24,24,15243,29299481,769445,7,7,7,3,7,5.0
25,25,15370,29466045,68478964,6,6,6,1,6,3.5
26,26,17269,35251052,61556313,7,7,7,1,7,4.0
27,27,17648,36431097,52440733,9,9,9,1,9,5.0
28,28,18337,38947746,147941492,7,7,7,1,7,4.0
29,29,18412,39153715,61556313,7,7,7,1,7,4.0
...,...,...,...,...,...,...,...,...,...,...
103,103,58004,178491887,136564914,21,21,21,1,21,11.0
104,104,59167,182217516,61556313,8,8,8,1,8,4.5
105,105,59613,183732886,69681267,6,6,6,1,6,3.5
106,106,60148,186548362,61556313,6,6,6,1,6,3.5
107,107,60399,188025647,156883302,16,16,16,1,16,8.5
108,108,60871,190222721,147941492,15,15,15,1,15,8.0
109,109,61109,191211430,136564914,8,8,8,1,8,4.5
110,110,61353,192712485,147941492,8,8,8,1,8,4.5
111,111,61591,193809899,61556313,8,8,8,3,8,5.5
112,112,61915,194756996,61556313,7,7,7,1,7,4.0
113,113,61970,194833170,64394533,8,8,8,1,8,4.5
114,114,62625,197158607,147941492,6,6,6,1,6,3.5
115,115,63450,199110270,147941492,12,12,12,1,12,6.5
116,116,63455,199129617,147941492,15,15,15,1,15,8.0
117,117,63788,200983383,61556313,7,7,7,1,7,4.0
118,118,63886,201343856,145777302,9,9,9,1,9,5.0
119,119,64348,203151525,147941492,6,6,6,1,6,3.5
120,120,64426,203538523,147941492,7,7,7,1,7,4.0
121,121,64943,205046026,147941492,7,7,7,1,7,4.0
122,122,65047,205583383,147941492,11,11,11,1,11,6.0
123,123,65365,206710851,147941492,13,13,13,5,13,9.0
124,124,65368,206717775,192785588,6,6,6,1,6,3.5
125,125,65553,207058750,147941492,9,9,9,1,9,5.0
126,126,65754,207802408,147941492,9,9,9,1,9,5.0
127,127,66072,208806468,147941492,31,31,31,1,31,16.0
128,128,66424,210308416,147941492,9,9,9,1,9,5.0
129,129,66427,210362283,147941492,6,6,6,2,6,4.0
130,130,67680,213502289,66861410,6,6,6,1,6,3.5
131,131,67704,213526271,147941492,8,8,8,1,8,4.5
132,132,68789,214653182,147941492,6,6,6,1,6,3.5

In [114]:
# df_final=df_final.reset_index()
df_final
final_data={}
for i in range(df_final.shape[0]):
    if df_final.iloc[i,3] not in final_data:
        userid=df_final.iloc[i,2]
        final_data[df_final.iloc[i,3]]=[userid]
    else:
        final_data[df_final.iloc[i,3]].append(userid)
final_data

{64909117: [508484],
 147941492: [757001,
  757001,
  757001,
  757001,
  2973390,
  6048308,
  6048308,
  6048308,
  6048308,
  9958098,
  9958098,
  9958098,
  15495067,
  15495067,
  15495067,
  15495067,
  36431097,
  40916458,
  40916458,
  40916458,
  40916458,
  40916458,
  40916458,
  40916458,
  40916458,
  59725263,
  59725263,
  66455496,
  66455496,
  66455496,
  76266392,
  76266392,
  79918735,
  79918735,
  79918735,
  79918735,
  79918735,
  79918735,
  79918735,
  79918735,
  94497233,
  94497233,
  94497233,
  94497233,
  105935455,
  105935455,
  105935455,
  105935455,
  119654795,
  124597967,
  131375087,
  137245836,
  137245836,
  137245836,
  155119124,
  160405537,
  160405537,
  160405537,
  183732886,
  183732886,
  194833170,
  194833170,
  194833170,
  201343856,
  201343856,
  201343856,
  201343856,
  201343856,
  201343856,
  201343856,
  201343856,
  201343856,
  201343856,
  213502289,
  213502289],
 54615708: [2973390, 131375087, 137245836],
 169916944: [6048308],
 61556313: [8373512,
  15495067,
  29466045,
  36431097,
  40916458,
  40916458,
  66455496,
  79918735,
  79918735,
  79918735,
  124597967,
  137245836,
  178491887,
  183732886,
  183732886,
  183732886,
  194833170],
 49674796: [9837180],
 29975426: [9958098],
 171496968: [15495067],
 769445: [29299481],
 68478964: [29466045],
 52440733: [36431097],
 166356346: [39153715],
 84301799: [40916458],
 150553948: [59305291],
 134968430: [59725263],
 156883302: [62035438, 183732886],
 137762841: [62080153],
 80102990: [66455496],
 112904482: [76266392],
 162551899: [79918735],
 192785588: [94497233, 105935455, 201343856],
 113968118: [104413604],
 195870375: [105935455],
 83366265: [118860287],
 162292584: [119654795],
 98481320: [124597967],
 81087553: [130021933],
 51960315: [131375087],
 8996761: [137245836],
 26974701: [155119124],
 87828817: [155119124],
 135832635: [160405537],
 136564914: [178491887, 183732886],
 69681267: [183732886],
 64394533: [194833170],
 145777302: [201343856],
 66861410: [213502289]}

In [119]:
for i in final_data:
    final_data[i]=list(set(final_data[i]))

    final_data

{64909117: [508484],
 147941492: [757001,
  119654795,
  137245836,
  79918735,
  194833170,
  155119124,
  183732886,
  76266392,
  15495067,
  160405537,
  6048308,
  66455496,
  2973390,
  59725263,
  124597967,
  94497233,
  9958098,
  213502289,
  105935455,
  40916458,
  131375087,
  201343856,
  36431097],
 54615708: [137245836, 2973390, 131375087],
 169916944: [6048308],
 61556313: [8373512,
  66455496,
  40916458,
  137245836,
  79918735,
  124597967,
  178491887,
  194833170,
  183732886,
  36431097,
  15495067,
  29466045],
 49674796: [9837180],
 29975426: [9958098],
 171496968: [15495067],
 769445: [29299481],
 68478964: [29466045],
 52440733: [36431097],
 166356346: [39153715],
 84301799: [40916458],
 150553948: [59305291],
 134968430: [59725263],
 156883302: [62035438, 183732886],
 137762841: [62080153],
 80102990: [66455496],
 112904482: [76266392],
 162551899: [79918735],
 192785588: [201343856, 94497233, 105935455],
 113968118: [104413604],
 195870375: [105935455],
 83366265: [118860287],
 162292584: [119654795],
 98481320: [124597967],
 81087553: [130021933],
 51960315: [131375087],
 8996761: [137245836],
 26974701: [155119124],
 87828817: [155119124],
 135832635: [160405537],
 136564914: [183732886, 178491887],
 69681267: [183732886],
 64394533: [194833170],
 145777302: [201343856],
 66861410: [213502289]}

In [126]:
upload={}
for i in final_data:
    li=[]
    for x in final_data[i]:
        li.append(str(x))
    upload[i]='&'.join(li)
upload

{64909117: '508484',
 147941492: '757001&119654795&137245836&79918735&194833170&155119124&183732886&76266392&15495067&160405537&6048308&66455496&2973390&59725263&124597967&94497233&9958098&213502289&105935455&40916458&131375087&201343856&36431097',
 54615708: '137245836&2973390&131375087',
 169916944: '6048308',
 61556313: '8373512&66455496&40916458&137245836&79918735&124597967&178491887&194833170&183732886&36431097&15495067&29466045',
 49674796: '9837180',
 29975426: '9958098',
 171496968: '15495067',
 769445: '29299481',
 68478964: '29466045',
 52440733: '36431097',
 166356346: '39153715',
 84301799: '40916458',
 150553948: '59305291',
 134968430: '59725263',
 156883302: '62035438&183732886',
 137762841: '62080153',
 80102990: '66455496',
 112904482: '76266392',
 162551899: '79918735',
 192785588: '201343856&94497233&105935455',
 113968118: '104413604',
 195870375: '105935455',
 83366265: '118860287',
 162292584: '119654795',
 98481320: '124597967',
 81087553: '130021933',
 51960315: '131375087',
 8996761: '137245836',
 26974701: '155119124',
 87828817: '155119124',
 135832635: '160405537',
 136564914: '183732886&178491887',
 69681267: '183732886',
 64394533: '194833170',
 145777302: '201343856',
 66861410: '213502289'}

In [144]:
shopid_list=df.shopid.unique().tolist()
sep_list=find_df.shopid.tolist()

In [148]:
pd.DataFrame({'1234':0}.items()).rename(columns={0:'shopid',1:'userid'})

  shopid  userid
0   1234       0

In [150]:
find_df=pd.DataFrame(upload.items()).rename(columns={0:'shopid',1:'userid'})
for i in shopid_list:
    if i not in sep_list:
        tmpdf=pd.DataFrame({i:0}.items()).rename(columns={0:'shopid',1:'userid'})
        find_df=find_df.append(tmpdf)
        
find_df

       shopid                                             userid
0    64909117                                             508484
1   147941492  757001&119654795&137245836&79918735&194833170&...
2    54615708                        137245836&2973390&131375087
3   169916944                                            6048308
4    61556313  8373512&66455496&40916458&137245836&79918735&1...
5    49674796                                            9837180
6    29975426                                            9958098
7   171496968                                           15495067
8      769445                                           29299481
9    68478964                                           29466045
10   52440733                                           36431097
11  166356346                                           39153715
12   84301799                                           40916458
13  150553948                                           59305291
14  134968430                                           59725263
15  156883302                                 62035438&183732886
16  137762841                                           62080153
17   80102990                                           66455496
18  112904482                                           76266392
19  162551899                                           79918735
20  192785588                       201343856&94497233&105935455
21  113968118                                          104413604
22  195870375                                          105935455
23   83366265                                          118860287
24  162292584                                          119654795
25   98481320                                          124597967
26   81087553                                          130021933
27   51960315                                          131375087
28    8996761                                          137245836
29   26974701                                          155119124
..        ...                                                ...
0   201517779                                                  0
0   191401581                                                  0
0   163218938                                                  0
0   162307335                                                  0
0    21508218                                                  0
0   173184505                                                  0
0   137401186                                                  0
0    34760488                                                  0
0    31435706                                                  0
0    53749242                                                  0
0     1702198                                                  0
0    74263634                                                  0
0   186664920                                                  0
0   162269169                                                  0
0   201180046                                                  0
0   156895254                                                  0
0   156180781                                                  0
0   147441016                                                  0
0   195793892                                                  0
0   160363863                                                  0
0   186985242                                                  0
0   110671146                                                  0
0   189442502                                                  0
0   196668026                                                  0
0   191594303                                                  0
0   163337224                                                  0
0      772599                                                  0
0    50236030                                                  0
0   203587596                                                  0
0   147118226                                                  0

[18770 rows x 2 columns]

In [154]:
find_df.to_csv('final.csv',index=False)

In [ ]:
df_group_userid.sort_value(by='orderid').iloc[n*0.8:]

In [38]:
df_group=df.groupby(['userid','shopid']).count()
df_group[df_group['orderid']>1].sort_values(by='orderid')

                     orderid  event_time
userid    shopid
95865253  43412276         2           2
127302543 19083596         2           2
127303070 5859784          2           2
          50969317         2           2
          143494966        2           2
127340795 191305484        2           2
127366814 26519437         2           2
127417436 84713261         2           2
127235452 61556313         2           2
127448069 147941492        2           2
127517207 13026492         2           2
127517689 58853808         2           2
127561102 83401047         2           2
127565940 147941492        2           2
127604965 112390252        2           2
127616057 21672386         2           2
127639823 61556313         2           2
127483497 155382548        2           2
127162716 146823580        2           2
127134527 10198652         2           2
127126031 129017444        2           2
126654586 89768730         2           2
          141522953        2           2
126677303 156883302        2           2
126686580 119390575        2           2
126782631 147941492        2           2
126826696 147941492        2           2
126909774 147941492        2           2
126924077 3536814          2           2
          13830581         2           2
...                      ...         ...
86875149  147941492       12          12
199110270 147941492       12          12
113418397 147941492       12          12
80060796  147941492       12          12
206710851 147941492       13          13
21676160  147941492       13          13
132774769 61556313        14          14
94497233  192785588       14          14
190222721 147941492       15          15
9613337   147941492       15          15
199129617 147941492       15          15
188025647 156883302       16          16
95722882  147941492       16          16
58009118  147941492       16          16
68977756  156883302       16          16
52255254  147941492       16          16
50499134  147941492       17          17
20547283  36453588        17          17
7616036   147941492       18          18
43652561  147941492       18          18
52097335  147941492       20          20
68757133  156883302       20          20
178491887 136564914       21          21
137401370 61556313        21          21
164098479 147941492       22          22
183440131 68609828        22          22
205729485 16001939        23          23
136087303 156883302       25          25
3142265   147941492       26          26
208806468 147941492       31          31

[12323 rows x 2 columns]

In [30]:
df.groupby(['shopid','userid']).count().describe()

             orderid     event_time
count  205003.000000  205003.000000
mean        1.086569       1.086569
std         0.457214       0.457214
min         1.000000       1.000000
25%         1.000000       1.000000
50%         1.000000       1.000000
75%         1.000000       1.000000
max        31.000000      31.000000

In [20]:
df.describe()

            orderid        shopid        userid
count  2.227500e+05  2.227500e+05  2.227500e+05
mean   3.130027e+13  9.433117e+07  9.802880e+07
std    1.222774e+11  5.695790e+07  6.839048e+07
min    3.107520e+13  1.000900e+04  1.000700e+04
25%    3.120360e+13  4.980267e+07  3.508127e+07
50%    3.130561e+13  9.033636e+07  9.309625e+07
75%    3.140604e+13  1.475053e+08  1.590612e+08
max    3.150720e+13  2.154352e+08  2.155262e+08